<mat-toolbar color="primary" class="footer">
  <div class="footer-content">
    <div class="social-icons">
      <a href="https://facebook.com" target="_blank" matTooltip="Facebook">
        <mat-icon>facebook</mat-icon>
      </a>
      <a href="https://instagram.com" target="_blank" matTooltip="Instagram">
        <mat-icon>favorite</mat-icon>
      </a>
      <a href="https://tiktok.com" target="_blank" matTooltip="TikTok">
        <mat-icon>tiktok</mat-icon>
      </a>
    </div>
    <div class="copyright">
      &copy; 2023 Catenaccio | Created by gchikovanii25
    </div>
  </div>
</mat-toolbar>

