<div class="forms-container">
    <div class="form-wrapper">
        <div class="filter-container">
            <p>Filter Price By: <mat-icon>filter_list</mat-icon></p>
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="1">Descending</mat-radio-button>
              <mat-radio-button value="2">Ascending</mat-radio-button>
            </mat-radio-group>
          </div>
    </div>
    <div class="form-wrapper">
        <form id="app-cover">
            <div id="select-box">
              <input type="checkbox" id="options-view-button">
              <div id="select-button" class="brd">
                <div id="selected-value">
                  <span>Select a Category</span>
                </div>
                <div id="chevrons">
                  <i class="fas fa-chevron-up"></i>
                  <i class="fas fa-chevron-down"></i>
                </div>
              </div>
              <div id="options">
                <div class="option">
                  <input class="s-c top" type="radio" name="platform" value="codepen">
                  <input class="s-c bottom" type="radio" name="platform" value="codepen">
                  <i class="fab fa-codepen"></i>
                  <span class="label">CodePen</span>
                  <span class="opt-val">CodePen</span>
                </div>
                <div class="option">
                  <input class="s-c top" type="radio" name="platform" value="dribbble">
                  <input class="s-c bottom" type="radio" name="platform" value="dribbble">
                  <i class="fab fa-dribbble"></i>
                  <span class="label">Dribbble</span>
                  <span class="opt-val">Dribbble</span>
                </div>
                <div class="option">
                  <input class="s-c top" type="radio" name="platform" value="behance">
                  <input class="s-c bottom" type="radio" name="platform" value="behance">
                  <i class="fab fa-behance"></i>
                  <span class="label">Behance</span>
                  <span class="opt-val">Behance</span>
                </div>
                <div class="option">
                  <input class="s-c top" type="radio" name="platform" value="hackerrank">
                  <input class="s-c bottom" type="radio" name="platform" value="hackerrank">
                  <i class="fab fa-hackerrank"></i>
                  <span class="label">HackerRank</span>
                  <span class="opt-val">HackerRank</span>
                </div>
                <div class="option">
                  <input class="s-c top" type="radio" name="platform" value="stackoverflow">
                  <input class="s-c bottom" type="radio" name="platform" value="stackoverflow">
                  <i class="fab fa-stack-overflow"></i>
                  <span class="label">StackOverflow</span>
                  <span class="opt-val">StackOverflow</span>
                </div>
                <div class="option">
                  <input class="s-c top" type="radio" name="platform" value="freecodecamp">
                  <input class="s-c bottom" type="radio" name="platform" value="freecodecamp">
                  <i class="fab fa-free-code-camp"></i>
                  <span class="label">FreeCodeCamp</span>
                  <span class="opt-val">FreeCodeCamp</span>
                </div>
                <div id="option-bg"></div>
              </div>
            </div>
          </form>
    </div>
    <div class="form-wrapper search-bar-wrapper">
        <form action="" class="search-bar">
            <input type="search" name="search" pattern=".*\S.*" required>
            <button class="search-btn" type="submit">
              <span>Search</span>
            </button>
          </form>
        
    </div>
  </div>


<main class="main bd-grid">
    <article class="card">
        <div class="card__img">
            <img src="https://i.postimg.cc/8PkwdTYd/image.png" alt="">
        </div>
        <div class="card__name">
            <p>AIR ZOOM PEGASUS</p>
        </div>
        <div class="card__precis">
            <div>
                <span class="card__preci card__preci--before">$990.00</span>
                <span class="card__preci card__preci--now">$749.00</span>
            </div>
            
            <a href="" class="card__icon">
                <mat-icon>add_shopping_cart</mat-icon>
            </a>
        </div>
    </article>
    <article class="card">
        <div class="card__img">
            <img src="https://i.postimg.cc/4dBHXR1Z/image.png" alt="">
        </div>
        <div class="card__name">
            <p>AIR ZOOM PEGASUS</p>
        </div>
        <div class="card__precis">
            <div>
                <span class="card__preci card__preci--before">$990.00</span>
                <span class="card__preci card__preci--now">$749.00</span>
            </div>
            
            <a href="" class="card__icon">
                <mat-icon>add_shopping_cart</mat-icon>
            </a>
        </div>
    </article>

    <article class="card">
        <div class="card__img">
            <img src="https://i.postimg.cc/DfRL0nTy/image.png" alt="">
        </div>
        <div class="card__name">
            <p>AIR ZOOM PEGASUS</p>
        </div>
        <div class="card__precis">
            <div>
                <span class="card__preci card__preci--before">$990.00</span>
                <span class="card__preci card__preci--now">$749.00</span>
            </div>
            
            <a href="" class="card__icon">
                <mat-icon>add_shopping_cart</mat-icon>
            </a>
        </div>
    </article>
</main>


<mat-paginator class="paginator" [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>


