<div *ngIf="isAuthenticated()" class="main-container"> 
    <div class="navcontainer"> 
        <nav class="nav"> 
            <div class="nav-upper-options"> 
                <div class="option2 nav-option"> 
                    <img src= 
"../../assets/orders.png"
                        class="nav-img"
                        alt="orders"> 
                    <h3> <a routerLink="/adminpanel"> Main Panel</a></h3> 
                </div> 

                <div class="nav-option option3"> 
                    <img src= 
"../../assets/user.png"
                        class="nav-img"
                        alt="report"> 
                        <h3> <a routerLink="/adminpanel/panel-users"> Users</a></h3> 
                </div> 

                <div class="nav-option option4"> 
                    <img src= 
"../../assets/products.png"
                        class="nav-img"
                        alt="institution"> 
                    <h3> <a routerLink="/adminpanel/panel-products"> Products</a></h3> 
                </div> 

                <div class="nav-option option4"> 
                    <img src= 
"../../assets/category.png"
                        class="nav-img"
                        alt="institution"> 
                    <h3> <a routerLink="/adminpanel/panel-category"> Category</a></h3> 
                </div> 

            </div> 
            
        </nav> 
    </div> 
    <div class="main"> 
        <div class="box-container"> 

            <div class="box box1"> 
                <div class="text"> 
                    <h2 class="topic-heading">60.5k</h2> 
                    <h2 class="topic">Total Views</h2> 
                </div> 

                <img src= 
"../../assets/eye.png"
                    alt="eye"> 
            </div> 

            <div class="box box2"> 
                <div class="text"> 
                    <h2 class="topic-heading">150</h2> 
                    <h2 class="topic">Total Orders</h2> 
                </div> 

                <img src= 
"../../assets/orders.png"
                    alt="orders"> 
            </div> 

            <div class="box box3"> 
                <div class="text"> 
                    <h2 class="topic-heading">3200</h2> 
                    <h2 class="topic">Total Income</h2> 
                </div> 

                <img src= 
"../../assets/money.png"
                    alt="money"> 
            </div> 

            <div class="box box4"> 
                <div class="text"> 
                    <h2 class="topic-heading">200</h2> 
                    <h2 class="topic">Total Users</h2> 
                </div> 
                <img src= 
"../../assets/user.png" alt="user"> 
            </div> 
        </div> 

        <div class="report-container"> 
            <div class="report-header"> 
                <h1 class="recent-Articles">Orders History</h1> 
                <button class="view">View All</button> 
            </div> 
            <div class="report-body"> 
                <div class="report-topic-heading"> 
                    <h3 class="t-op">Order Number</h3> 
                    <h3 class="t-op">Products List</h3> 
                    <h3 class="t-op">Total Price</h3> 
                    <h3 class="t-op">Status</h3> 
                </div> 

                <div class="items"> 
                    <div class="item1"> 
                        <h3 class="t-op-nextlvl">c23dc12</h3> 
                        <h3 class="t-op-nextlvl">Boots Nike</h3> 
                        <h3 class="t-op-nextlvl">210</h3> 
                        <h3 class="t-op-nextlvl label-tag">Completed</h3> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div> 
</div> 
