<div class="container">
    <h1 style="margin-top: 25px;">Order History</h1>
    <table class="shop_table my_account_orders">

        <thead>
            <tr>
                <th class="order-number">Order</th>
                <th class="order-date">Date</th>
                <th class="order-status">Status</th>
                <th class="order-total">Total</th>
                <th class="order-actions">Actions</th>
            </tr>
        </thead>
    
        <tbody>
            <tr class="order">
                <td class="order-number" data-title="Order">
                    <a href="*">#2080</a>
                </td>
    
                <td class="order-date" data-title="Date">
                    <time datetime="2014-06-12" title="1402562157">June 12, 2014</time>
                </td>
    
                <td class="order-status" data-title="Status">
                    On-hold
                </td>
    
                <td class="order-total" data-title="Total">
                    <span class="amount">£176.00</span> for 8 items
                </td>
    
                <td class="order-actions" data-title="Action">
                    <a href="*" class="button view">View</a>
                </td>
            </tr>
    
            <tr class="order">
                <td class="order-number" data-title="Order">
                    <a href="*">#2081</a>
                </td>
    
                <td class="order-date" data-title="Date">
                    <time datetime="2014-06-12" title="1402562157">June 13, 2014</time>
                </td>
    
                <td class="order-status" data-title="Status">
                    On-hold
                </td>
    
                <td class="order-total" data-title="Total">
                    <span class="amount">£75.00</span> for 11 items
                </td>
    
                <td class="order-actions" data-title="Action">
                    <a href="*" class="button view">View</a>
                </td>
            </tr>
    
            <tr class="order">
                <td class="order-number" data-title="Order">
                    <a href="*">#2082</a>
                </td>
    
                <td class="order-date" data-title="Date">
                    <time datetime="2014-06-12" title="1402562157">June 14, 2014</time>
                </td>
    
                <td class="order-status" data-title="Status">
                    On-hold
                </td>
    
                <td class="order-total" data-title="Total">
                    <span class="amount">£65.00</span> for 3 items
                </td>
    
                <td class="order-actions" data-title="Action">
                    <a href="*" class="button view">View</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
