<div class="container mt-4">
    <!-- Product Cards -->
    <div class="row" id="productContainer">
        <!-- Your provided product card code goes here -->
        <div class="col-12 col-md-6">
            <div class="card shadow">
                <img src="../../assets/img/shop/item-1.png" alt="black watch">
                <div class="card-footer border-top border-gray-300 p-4">
                    <!-- ... (rest of your product card code) ... -->
                </div>
            </div>
        </div>
    </div>

    <!-- Filter Sidebar -->
    <div class="row mt-4">
        <!-- Price Range Filter -->
        <div class="col-12 col-md-6">
            <div class="card shadow">
                <!-- Your provided price range filter code goes here -->
                <div class="card-body">
                    <h3 class="h5 card-title">Price range</h3>
                    <!-- ... (rest of your price range filter code) ... -->
                </div>
            </div>
        </div>

        <!-- Categories Filter -->
        <div class="col-12 col-md-6">
            <div class="card shadow">
                <!-- Your provided categories filter code goes here -->
                <div class="card-body">
                    <h3 class="h5 card-title">Categories</h3>
                    <!-- ... (rest of your categories filter code) ... -->
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <div class="row mt-4">
        <div class="col-12 text-center">
            <ul class="pagination" id="pagination">
                <!-- Pagination links will be dynamically added here -->
            </ul>
        </div>
    </div>
</div>