.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  margin-top: 10px;
  margin-left: 10px;
}

.logo {
  width: 120px;
}

.menu-button {
  display: flex;
  align-items: center;
}

.menu-button button {
  margin-right: 10px;
}

.nav-items {
  display: flex;
}

.nav-items a {
  margin-right: 20px;
}

.icons {
  display: flex;
}

.icons button {
  margin-left: 10px;
}

@media (max-width: 900px) {
  .logo-container {
    margin-left: 0;
  }

  .nav-items {
    display: none;
  }

  .icons {
    display: none;
  }
}