@using CatenaccioStore.Application.Services.Products.DTOs
@model CreateCategoryDto
<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a new Category</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="AdminPanelCreateCategory" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group row mt-4">
                        <div class="col">
                            <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        </div>
                        <div class="col text-right mt-auto">
                            <a class="btn btn-outline-secondary" asp-action="AdminPanelProduct">Back to All</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div style="margin-top:40%">

        </div>
    </div>
</div>