<table>
    <caption>Products List</caption>
    <thead>
      <tr>
        <th scope="col">Category Id</th>
        <th scope="col">Category Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td data-label="Category Id">{{category.id}}</td>
        <td data-label="Category Name">{{category.name}}</td>
        <td data-label="Action">
              <button (click)="openUpdateCategoryDialog(category)" mat-button>
                <mat-icon  aria-hidden="false" fontIcon="edit" style="color:rgb(199, 199, 48)"></mat-icon>
              </button>
              <button mat-button (click)="deleteCategory(category.name)">
                <mat-icon aria-hidden="false" fontIcon="delete" style="color: rgb(188, 9, 9);"></mat-icon>
              </button>

        </td>
      </tr>
    </tbody>
  </table>
  <div class="btns">
    <button (click)="openAddCategoryDialog()" mat-button style="margin-right: 10px;">
        <mat-icon aria-hidden="false" fontIcon="add" style="color: rgb(35, 35, 151);"></mat-icon>
      </button>
    <button style="margin-right: 10px;" routerLink="/adminpanel" mat-raised-button color="primary">Main Panel</button>
  </div>
