<table>
    <caption>Users List</caption>
    <thead>
      <tr>
        <th scope="col">User Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td data-label="User Name">{{ user.userName }}</td>
        <td data-label="Email">{{ user.email }}</td>
        <td data-label="Phone Number">{{ user.phoneNumber }}</td>
        <td data-label="Action">
              <button (click)="deleteUser(user.email)" mat-button>
                <mat-icon aria-hidden="false" fontIcon="delete" style="color: red;"></mat-icon>
              </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="btns">
    <button routerLink="/adminpanel" mat-raised-button color="primary">Main Panel</button>
  </div>
