<p>panel-users works!</p>
<table>
    <caption>Users List</caption>
    <thead>
      <tr>
        <th scope="col">User Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="User Name">chiko69</td>
        <td data-label="Email">gchikovanii25 gmail.com</td>
        <td data-label="Phone Number">574093134</td>
        <td data-label="Action">
              <button mat-button>
                <mat-icon aria-hidden="false" fontIcon="delete" style="color: red;"></mat-icon>
              </button>

        </td>
      </tr>
    </tbody>
  </table>
  <div class="btns">
    <button routerLink="/adminpanel" mat-raised-button color="primary">Main Panel</button>
  </div>
