<div class="centered">
  <div class="wrapper">
    <div class="title">
      Login Form
    </div>
    <form (ngSubmit)="login(loginDto)">
      <div class="field">
        <input [(ngModel)]="loginDto.email" type="text" name="email" required>
        <label>Email Address</label>
      </div>
      <div class="field">
        <input [(ngModel)]="loginDto.password" type="password" name="password" required>
        <label>Password</label>
      </div>
      <div class="content">
        <div class="pass-link">
          <a href="#">Forgot password?</a>
        </div>
      </div>
      <div class="field">
        <input type="submit" value="Login">
      </div>
      <div *ngIf="errorMessage" class="error-message" style="color: #aa0d0d;">
        {{ errorMessage }}
      </div>
      <div class="signup-link">
        Not a member? <a routerLink="/account">Signup now</a>
      </div>
    </form>
  </div>
</div>
